server:
 port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/Shakir-kdl/springboot-microservices.git
          default-label: main
          clone-on-start: true 
          search-paths: configs/18thaug